#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8); /* adjust 0.5 for darkness */
  z-index: 1;
}

#banner {
  position: relative;
  height: 520px;
  margin-top: 6.6rem;    
  background: black;
  z-index: 1;
}
  
.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


.banner-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  z-index: 2;
}

